.weather {
  color: rgba(0,0,0,0.5);
  font-size: calc(16px + 3vw);
  text-align: center;

  h2, h3, h4 {
    margin: 0.5rem;
  }

  h2 {
    font-weight: 700;
    font-size: calc(16px + 1vw);
  }

  h3, h4 {
    font-weight: 300;
    font-size: calc(16px + 0.5vw);
  }
}
