.inspire-me {
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  border-radius: 6px;
  background: none;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
  color: rgba(0,0,0,0.25);
  padding: 0.5rem 1rem;
  outline: none;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;

  &:hover {
    background: rgba(0,0,0,0.25);
    color: rgba(0,0,0,0.5);
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }

  &:focus {
    outline: none;
  }
}
