#settingsToggle {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: calc(16px + 1vw);
  z-index: 999;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;

  &:hover {
    transform: scale(1.1);
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
}
