form {
  width: 100%;
  max-width: 480px;
  padding: 1rem 1.5rem;
  background: rgba(0,0,0,0.05);
  border-radius: 3px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 0.25vw);
  font-weight: 700;
  text-transform: uppercase;
  color: #666;
  margin: 1rem 0;
}

::placeholder {
  color: rgba(0,0,0,0.2);
}

input {
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  background: white;
  box-shadow: none;
  font-size: calc(12px + 0.25vw);
  color: #333;
  margin: 0.5rem 0;

  &:focus {
    outline: none;
  }
}

input[type=submit] {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: none;
  background: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.5);
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;

  &:hover {
    background: rgba(0,0,0,0.2);
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
}

.cancel {
  cursor: pointer;
  border: none;
  box-shadow: none;
  background: none;
  color: rgba(0,0,0,0.5);
  margin-left: 1rem;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;

  &:hover {
    color: rgba(0,0,0,0.75);
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }

  &:focus {
    outline: none;
  }
}

.geosuggest {
  position: relative;

  .geosuggest__input {
    width: 100%;
    margin-bottom: 0;
  }

  .geosuggest__suggests {
    background: white;
    border: 1px solid #ededed;
    border-radius: 3px;
    font-weight: 300;
    text-transform: none;
    list-style: none;
    padding: 0.5rem;
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    &.geosuggest__suggests--hidden {
      max-height: 0;
      overflow: hidden;
      border-width: 0;
      padding: 0;
    }

    .geosuggest__item {
      cursor: pointer;
      padding: 0.25rem;
      -webkit-transition: all ease 0.2s;
      -moz-transition: all ease 0.2s;
      transition: all ease 0.2s;
    }

    .geosuggest__item:hover, .geosuggest__item:focus {
      background: rgba(0,0,0,0.05);
      -webkit-transition: all ease 0.2s;
      -moz-transition: all ease 0.2s;
      transition: all ease 0.2s;
    }

    .geosuggest__item--active, .geosuggest__item--active:hover {
      background: rgba(0,0,0,0.1);
      -webkit-transition: all ease 0.2s;
      -moz-transition: all ease 0.2s;
      transition: all ease 0.2s;
    }

    .geosuggest__item__matched-text {
      color: rgba(0,0,0,1);
      font-weight: 500;
    }
  }
}
